@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";
@import "teams";
@import "sessions";
@import "games";
@import "players";

.kazu {
    text-align: center;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  margin-bottom: 0px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }
  a :hover {
    color: yellow !important;
  }

  .navbar-brand {
    color: #fff;
    font-size: xx-large;
    padding: 15px;
    margin-top: 15px;
  }
}
