// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-control {
  height: 45px;
}

.teams-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('home.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .teams-new-container {
    padding-top: 125px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}
